<div class="landing-container">
  <div class="bg-blur-element top-left"></div>
  <div class="bg-blur-element bottom-right"></div>

  <nav class="navbar" style="background-color: black;">
    <div class="nav-left">
      <div class="logo-wrapper">
        <div class="logo-icon"></div>
        <span class="logo-text" style="color: aliceblue;">SiaAgro <small>Luis Alvarez</small></span>
      </div>
      
      <ul class="nav-links">
        <li><a href="javascript:void(0)" class="active" style="color: aliceblue;">Dashboard</a></li>
        <li><a href="javascript:void(0)">Monitoreo Dron</a></li>
        <li><a href="javascript:void(0)">Mapa UTM</a></li>
        <li><a href="javascript:void(0)">Historial Plagas</a></li>
      </ul>
    </div>

    <div class="nav-right">
      <button class="login-pill" (click)="upta()">UPT Aragua</button>
    </div>
  </nav>

  <header class="hero">
    <div class="hero-content">
      <h1 style="color: aliceblue; margin-top: 0;">Inteligencia para el <br><span class="highlight">Futuro del Campo</span></h1>
      <p style="color: aliceblue;">
        Impulsando la agricultura de precisión mediante visión artificial, redes de sensores y mantenimiento predictivo. Transformamos datos complejos en decisiones estratégicas.
      </p>
      
      <div class="cta-group">
        <button class="start-btn" (click)="goToChat()">
          <span>Iniciar Consulta IA</span>
          <i class="arrow-icon">→</i>
        </button>
      </div>
    </div>

    <div class="hero-visual">
      <div class="main-avatar-glow"></div>
      <div class="bot-icon-wrapper">
        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAoqsU2KuGTB3QZgPi6dKzTggTdZNheH4E1Q&s" alt="SiaAgro AI Core"> -->
      </div>
    </div>
  </header>
  
  </div>